* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main__container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 2px solid #80CBC4;
    width: 20%;
}

.create__group__ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.create__group__ctn input,
.create__task__ctn input {
    height: 30px;
    width: 80%;
    border: 2px solid #80CBC4;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}

.create__task__ctn input {
    height: 40px;
    width: 50%;
    font-size: 20px;
}

.create__group-btn,
.create__task__btn {
    width: 50%;
    height: 30px;
    background-color: #0081CE;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.create__task__btn {
    width: 15%;
    height: 35px;
    margin-left: 30px;
    vertical-align: middle;
}

.create__group__btn:hover,
.create__task__btn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    background-color: #0098F0;
}

.group__list {
    height: 50%;
    color: #0098F0;
    padding-left: 20px;
    overflow: auto;
}

.group__list span {
    font-size: 18px;
}

.group__list ul {
    color: #000000;
    font-size: 14px;
    margin-top: 15px;
    list-style: none;
    margin-left: 20px;
    line-height: 1.6;
}

.group__list ul li {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
    border: 2px solid #80CBC4;
    border-radius: 30px;
    padding: 5px 20px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    white-space: nowrap;
}


.main__contant {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}

.create__task__ctn {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 90%;
}

.task__list {
    height: 320px;
    margin-left: 30px;
    margin-top: 30px;
    overflow: auto;
}

.task__list span {
    font-size: 25px;
    color: #0098F0;
}

.task__list ul {
    margin-top: 20px;
    list-style: none;
    line-height: 1.8;
    font-size: 14px;
}

.task__list ul li {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border: 2px solid blue;
    border-radius: 30px;
    padding: 5px 20px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    white-space: nowrap;
}

.group__app {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.delete__btn {
    position: absolute;
    width: 20px;
    right: 10px;
}
